DB_URL = postgresql+asyncpg://
POSTGRES_USER=
POSTGRES_DB=
POSTGRES_PASSWORD=

SECRET_KEY=
EXPIRE_ACCESS_TOKEN_MIN = 15
EXPIRE_REFRESH_TOKEN_DAYS = 30
MAX_ACTIVE_SESSIONS = 5
ALGORITHM = HS256

YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
RETURN_URL=
VERIFY_WEBHOOK_IP = false

NGROK_AUTHTOKEN=

RATE_LIMITING_STORAGE=redis://
CACHE_STORAGE=redis://
TASKS_STORAGE=redis://

MAIL_SERVER=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=noreply_test_mail@email.com

TTL_PENDING_BOOKINGS = 10
LOG_LEVEL = INFO
